.navbar{
  position: relative;
  background-color: #eeeeee;
  overflow: hidden;
  box-shadow: 5px 5px 5px #D3D3D3;
  
}

.navbar a{
  float: left;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.navCentered a {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.navbarRight {
  float: right;
}
.navbarRight a{
  font-size: 17px;
  margin-right: 20px;
}

.btn{
  background-color: #F37A51;
  border: white;
  color: white;
  padding: 10px 20px;
  text-align: center;
  border-radius: 10px;
  margin-right: 20px;
  margin-top: 6px
}
.gridContainer {
  display: grid;
  grid-column-gap: 100px;
  grid-row-gap: 100px;
  grid-template-columns: 2fr 2fr;
  padding: 30px;
  padding-top:5%;
}

.gridItem {
  background-color: #F37A51;
  padding: 20px 20px 5px 10px;
  font-size: 30px;
  color: #ffffff;
  border-radius: 20px;
}
.gridItem img{
  height: 70px;
  width: 70px;
  border-radius: 40px;
}

.class{
  display: flex;
}

.title{
  padding-left: 20px;
}
.desc{
  font-size: smaller;
  padding-left: 20px;
}